{% comment %}
  This is the 'my account password' page.
  Here, a user can change their current password.
{% endcomment %}

<div class="my-account">
  <div class="my-account__container">
    <div class="my-account__wrapper">
      
      <div class="bg-silver-light">
        <div class="mask mask-ne text-white"></div>
        <div class="section">
          <div class="container">
            <div class="row">
              <div class="col-md-3">
                {% include 'my_account_menu' %}
              </div>

              <div class="col-md-7">

                <main class="my-account__content" id="main-content" role="main">
                  <h3 class="my-account__subheading margin-small">{{ 'liquid.views.my_account_password_page.custom_header_change_password' | translate }}</h3>
                  {% form 'my_account_password' %}
                  {% if errors.size > 0 %}
                    {% include 'form_errors' %}
                  {% endif %}
                  <div class="form-grid form-grid-left">
                     {% if site.current_user.has_password %}
                      <div class="form__group form-row">
                        <div class="form-label">
                          {% assign field = fields.current_password %}
                          <label for="{{ field.name }}" class="form__label form__label">{{ field.label }}</label>
                        </div>
                        <div class="form-response">
                          <input type="password" id="{{ field.name }}" name="{{ field.name }}"  class="form__control form-control input-white input-shadow" />
                          <p class="form__notice help-block">{{ 'liquid.views.my_account_password_page.custom_msg_current_password' | translate }}</p>
                        </div>
                      </div>
                    {% endif %}
                    <div class="form__group form-row">
                      <div class="form-label">
                        {% assign field = fields.password %}
                        <label for="{{ field.name }}" class="form__label">{{ field.label }}</label>
                      </div>
                      <div class="form-response">
                        <input type="password" id="{{ field.name }}" name="{{ field.name }}" autocomplete="off"  class="form__control form-control input-white input-shadow" />
                      </div>
                    </div>
                    <div class="form__group form-row">
                      <div class="form-label">
                        {% assign field = fields.password_confirmation %}
                        <label for="{{ field.name }}" class="form__label">{{ field.label }}</label>
                      </div>
                      <div class="form-response">
                        <input type="password" id="{{ field.name }}" name="{{ field.name }}" class="form__control form-control input-white input-shadow" />
                      </div>
                    </div>
                   
                  </div>
                  <div class="form__button-group form-footer">
                    <input type="submit" name="commit" value="{{ fields.submit.label }}" class="button button-primary btn btn-info" />
                  </div>
                  {% endform %}
                </main>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
