{% comment %}
  This is the 'my account notifications' page.
  Here, a user can opt-in/out of notification emails.
{% endcomment %}

<div class="my-account">
  <div class="my-account__container">
    <div class="my-account__wrapper">
      <div class="bg-silver-light">
        <div class="mask mask-ne text-white"></div>
        <div class="section">
          <div class="container">
            <div class="row">
              <div class="col-md-3">
                {% include 'my_account_menu' %}
              </div>

              <div class="col-md-7">
   
                <main class="my-account__content" id="main-content" role="main">
                  {% form 'my_account_notifications' %}
                  {% if errors.size > 0 %}
                    {% include 'form_errors' %}
                  {% endif %}
                  <h2 class="my-account__subheading margin-small" style="margin-top: 0 !important;">
                    {{ 'liquid.views.my_account_notifications_page.header_notifications' | translate }}
                  </h2>
                  {% if page.allow_weekly_email_reminders or page.allow_discussion_question_answered_email %}
                    <h5>
                      {{ 'liquid.partials.student_dashboard.header_my_courses' | translate }}
                    </h5>
                  {% endif %}
                  {% if page.allow_weekly_email_reminders %}
                    <div class="form__group">
                      {% assign field = fields.notify_on_weekly_reminder %}
                      <input name="{{ field.name }}" type="hidden" value="0" />
                      <label for="{{ field.name }}" class="form__label form__label-checkbox option">
                        <input type="checkbox" id="{{ field.name }}" name="{{ field.name }}" value="1" {% if field.value %}checked="checked"{% endif %} class="form__control" />
                        <i class="option-icon"></i>
                        <span>{{ field.label }}</span>
                      </label>
                    </div>
                  {% endif %}
                  {% if page.allow_discussion_question_answered_email %}
                    <div class="form__group">
                      {% assign field = fields.notify_on_my_discussion_question_answered %}
                      <input name="{{ field.name }}" type="hidden" value="0">
                      <label for="{{ field.name }}" class="form__label form__label-checkbox option">
                        <input type="checkbox" id="{{ field.name }}" name="{{ field.name }}" value="1" {% if field.value %}checked="checked"{% endif %} class="form__control" />
                        <i class="option-icon"></i>
                        <span>{{ field.label }}</span>
                      </label>
                    </div>
                  {% endif %}
                  {% if page.user_has_communities %}
                    <h5>
                      {{ 'liquid.partials.student_dashboard.header_my_communities' | translate }}
                    </h5>
                    <div class="form__group">
                      {% assign field = fields.notify_on_community_post_reply %}
                      <input name="{{ field.name }}" type="hidden" value="0">
                      <label for="{{ field.name }}" class="form__label form__label-checkbox option">
                        <input type="checkbox" id="{{ field.name }}" name="{{ field.name }}" value="1" {% if field.value %}checked="checked"{% endif %} class="form__control" />
                        <i class="option-icon"></i>
                        <span>{{ field.label }}</span>
                      </label>
                    </div>
                  {% endif %}
                  <div class="form__button-group form-footer">
                    <input type="submit" name="commit" value="{{ fields.submit.label }}" class="button button-primary btn btn-info">
                  </div>
                  {% endform %}
                </main>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
