{% comment %}
  This is the page where the user can reset their password
{% endcomment %}

<div class="bg-silver-light">
  <div class="mask mask-ne text-white"></div>
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <main class="password-reset" id="main-content" role="main">
            <div class="password-reset__container">
              <div class="password-reset__wrapper">
                <article class="password-reset__form">
                  <h2 class="page__heading margin-small">{{ 'liquid.views.password_reset_page.title_edit' | translate }}</h2>
                  {% form 'password_reset' %}
                    {% if errors.size > 0 %}
                      {% include 'form_errors' %}
                    {% endif %}
                    {% assign field = fields.reset_password_token %}
                    <input type="hidden" value="{{ field.value }}" name="{{ field.name }}" />
                    <div class="form-grid form-grid-left">
                      <div class="form-row">
                        <div class="form-label">
                          {% assign field = fields.password %}
                          <label for="{{ field.name }}" class="form__label">{{ field.label }}</label>
                        </div>
                        <div class="form-response"><input type="password" id="{{ field.name }}" name="{{ field.name }}" placeholder="{{ field.placeholder }}" {% if field.required %}required{% endif %} autocapitalize="off" autocomplete="off" autocorrect="off" spellcheck="false" class="form__control form-control input-white input-shadow" /></div>
                      </div>
                      <div class="form__group form-row">
                        <div class="form-label">
                          {% assign field = fields.password_confirmation %}
                          <label for="{{ field.name }}" class="form__label">{{ field.label }}</label>
                        </div>
                        <div class="form-response"><input type="password" id="{{ field.name }}" name="{{ field.name }}" placeholder="{{ field.placeholder }}" {% if field.required %}required{% endif %} autocapitalize="off" autocomplete="off" autocorrect="off" spellcheck="false" class="form__control form-control input-white input-shadow" /></div>
                      </div>
                    </div>
                    <div class="form__button-group form-footer">
                      <input type="submit" name="commit" value="{{ fields.submit.label }}" class="button button-primary btn btn-info" />
                    </div>
                  {% endform %}
                </article>
              </div>
            </div>
          </main>
        </div>
      </div>
    </div>
  </div>
</div>
