{% comment %}
  This is the page where the user can request a new password
{% endcomment %}

<div class="bg-silver-light">
  <div class="mask mask-ne text-white"></div>
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <main class="password-reset" id="main-content" role="main">
            <div class="password-reset__container">
              <div class="password-reset__wrapper">
                <article class="password-reset__form">
                  <h2 class="password-reset__heading margin-small">{{ 'liquid.views.password_reset_request_page.text_forgot_password' | translate }}</h2>
                  {% form 'password_reset_request' %}
                    {% if errors.size > 0 %}
                      {% include 'form_errors' %}
                    {% endif %}
                    <p>{{ 'liquid.views.password_reset_request_page.text_explanation' | translate }}</p>
                    {% assign field = fields.email %}
                    <div class="form-grid form-grid-left">
                      <div class="form-row">
                        <div class="form-label"><label for="{{ field.name }}" class="form__label">{{ field.label }}</label></div>
                        <div class="form-response"><input type="email" id="{{ field.name }}" value="{{ field.value }}" name="{{ field.name }}" placeholder="{{ field.placeholder }}" class="form__control form-control input-white input-shadow" {% if field.required %}required{% endif %} autocapitalize="off" autocomplete="off" autocorrect="off" spellcheck="false" autofocus /></div>
                      </div>
                      <div class="form__button-group form-footer">
                        <input type="submit" name="commit" value="{{ fields.submit.label }}" class="button button-primary btn btn-info" />
                      </div>
                    </div>
                  {% endform %}
                </article>
              </div>
            </div>
          </main>
        </div>
      </div>
    </div>
  </div>
</div>
