{% comment %}
  This is the student dashboard course card.
{% endcomment %}

<div class="course-card course-card__dashboard">
  <div>
    {% unless card.is_presell %}
      <a class="course-card__header" href="{{ card.resume_course_url }}" tabindex="-1" aria-hidden="true">
    {% endunless %}
      <div class="course-card__body">
        <h3 class="course-card__header-title">{{ card.name }}</h3>
        {% if card.has_enrollment %}
          <div class="course-card__progress--bar">
            <span class="progress__bar" style="width:{{ card.progress_percentage }}%;"></span>
            <p class="progress__percentage" role="progressbar" aria-describedby="progress__description">
              <span class="sr-only" id="progress__description">{{ 'liquid.partials.dashboard_course_card.progress_description' | translate }}: {{ card.progress_percentage }}%</span>
              <span class="progress__percentage-value" style="left: {{ card.progress_percentage }}%;">{{ card.progress_percentage }}%</span>
            </p>
          </div>
        {% endif %}
      </div>
    {% unless card.is_presell %}
      </a>
    {% endunless %}
    <div class="course-card__details">
      {% if card.progress_percentage == 100 %}
        {% if card.course_reviews_enabled %}
          <a href="{{ card.course_review_url }}" class="course-card__rate" aria-label="{{ card.name }}: {{ 'liquid.partials.dashboard_course_card.link_rate_course' | translate }}">
            {{ 'liquid.partials.dashboard_course_card.link_rate_course' | translate }}
          </a>
        {% else %}
          <a href="{{ card.landing_page_url }}" class="course-card__overview" aria-label="{{ card.name }}: {{ 'liquid.partials.dashboard_course_card.link_see_overview' | translate }}">
            {{ 'liquid.partials.dashboard_course_card.link_see_overview' | translate }}
          </a>
        {% endif %}
      {% else %}
        <a href="{{ card.landing_page_url }}" class="course-card__overview" aria-label="{{ card.name }}: {{ 'liquid.partials.dashboard_course_card.link_see_overview' | translate }}">
          {{ 'liquid.partials.dashboard_course_card.link_see_overview' | translate }}
        </a>
      {% endif %}
      {% if card.is_presell %}
        <span class="course-card__coming-soon">
          {{ 'liquid.partials.dashboard_course_card.coming_soon' | translate }}
        </span>
      {% else %}
        <a href="{{ card.resume_course_url }}" class="course-card__resume" aria-label="{{ card.name }}: {{ 'liquid.partials.dashboard_course_card.link_resume_course' | translate }}">
          {% if card.progress_percentage == 0 %}
            {{ 'liquid.partials.dashboard_course_card.link_start_course' | translate }}
          {% elsif card.progress_percentage > 0 and card.progress_percentage < 100 %}
            {{ 'liquid.partials.dashboard_course_card.link_resume_course' | translate }}
          {% else %}
            {{ 'liquid.partials.dashboard_course_card.link_replay_course' | translate }}
          {% endif %}
        </a>
      {% endif %}
    </div>
  </div>
  {% if card.image.medium != blank %}
    {% assign product_image = card.image.medium %}
  {% else %}
    {% assign product_image = card.image.original %}
  {% endif %}
  {% unless card.is_presell %}
    <a href="{{ card.resume_course_url }}" tabindex="-1" aria-hidden="true">
  {% endunless %}
    <img
      src="{{ product_image }}"
      alt=""
      class="course-card__img"
      loading="lazy"
    />
  {% unless card.is_presell %}
    </a>
  {% endunless %}
</div>
