{% comment %}
  This is the 'my account password' page.
  Here, a user can change their current password.
{% endcomment %}

<div class="my-account">
  {% include 'my_account_banner' %}
  <div class="my-account__container">
    <div class="my-account__wrapper">
      <aside class="my-account__menu hidden-print">
        {% include 'my_account_menu' %}
      </aside>
      <main class="my-account__content" id="main-content" role="main">
        <h3 class="my-account__subheading">{{ 'liquid.views.my_account_password_page.custom_header_change_password' | translate }}</h3>
        {% form 'my_account_password' %}
        {% if errors.size > 0 %}
          {% include 'form_errors' %}
        {% endif %}
        <div class="form__group">
          {% assign field = fields.password %}
          <label for="{{ field.name }}" class="form__label">
            {{ field.label }}
          </label>
          <input type="password" id="{{ field.name }}" name="{{ field.name }}" autocomplete="off" autofocus class="form__control" />
        </div>
        <div class="form__group">
          {% assign field = fields.password_confirmation %}
          <label for="{{ field.name }}" class="form__label">
            {{ field.label }}
          </label>
          <input type="password" id="{{ field.name }}" name="{{ field.name }}" class="form__control" />
        </div>
        {% if site.current_user.has_password %}
          <div class="form__group">
            {% assign field = fields.current_password %}
            <label for="{{ field.name }}" class="form__label form__label">
              {{ field.label }}
            </label>
            <input type="password" id="{{ field.name }}" name="{{ field.name }}" class="form__control" />
            <p class="form__notice">{{ 'liquid.views.my_account_password_page.custom_msg_current_password' | translate }}</p>
          </div>
        {% endif %}
        <div class="form__button-group">
          <input type="submit" name="commit" value="{{ fields.submit.label }}" class="button button-primary" />
        </div>
        {% endform %}
      </main>
    </div>
  </div>
</div>
