{% comment %}
  This is the page where the user can request a new password
{% endcomment %}

<main class="password-reset" id="main-content" role="main">
  <div class="password-reset__container">
    <div class="password-reset__wrapper">
      <article class="password-reset__form">
        <h2 class="password-reset__heading">{{ 'liquid.views.password_reset_request_page.text_forgot_password' | translate }}</h2>
        {% form 'password_reset_request' %}
          {% if errors.size > 0 %}
            {% include 'form_errors' %}
          {% endif %}
          <p>{{ 'liquid.views.password_reset_request_page.text_explanation' | translate }}</p>
          {% assign field = fields.email %}
          <div class="form__group">
            <label for="{{ field.name }}" class="form__label">
              {{ field.label }}
            </label>
            <input type="email" id="{{ field.name }}" value="{{ field.value }}" name="{{ field.name }}" placeholder="{{ field.placeholder }}" class="form__control" {% if field.required %}required{% endif %} autocapitalize="off" autocomplete="off" autocorrect="off" spellcheck="false" autofocus />
            <div class="form__button-group">
              <input type="submit" name="commit" value="{{ fields.submit.label }}" class="button button-primary" />
            </div>
          </div>
        {% endform %}
      </article>
    </div>
  </div>
</main>
